<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AsposeLicPath" value="C:\Projects\config\AsposeLic\Aspose.Cells.lic" />
    <add key="TestMode" value="N" />
    <add key="TestMailReceiver" value="jerrya.chen@liteon.com;Claire.Wang@liteon.com;eric.lian@liteon.com" />
    <add key="EmailToGroup" value="Claire Wang@liteon.com"/>
    <add key="EmailCCGroup" value="eric.lian@liteon.com" />
  </appSettings>
</configuration>