<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!-- ServerIP: SIC Server, PRD: icm040, DEV: dev038-->
    <add key="ServerIP" value="icm040"/>
    <!-- ServerPort: SIC Production Server Port-->
    <add key="ServerPort" value="8088"/>
    <!-- mail-->
    <add key="mail" value="kimi.mo@liteon.com"/>
  </appSettings>
</configuration>
