<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="FACTORY_ID" value="90003"/>
    <add key="ACCOUNT" value="tsaWCsBZyVk="/>
    <add key="PWD" value="xVk6WXr5tSI="/>
    <add key="DB" value="sfcdb655"/>
    <add key="SERVER" value="10.141.33.42"/>
    <add key="LOGADDRECORD" value="Y"/>
    <add key="LOGQUERYRECORD" value="Y"/>
    <add key="SAVEERRORLOG" value="Y"/>
    <add key="FORBIDGET" value="N"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm" />
        <remove value="default.aspx" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="go.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>
